{%extends 'base.html'%}
{%load static%}
{%block title%}Login{%endblock%}
{%block content%}

<section class="booking_section layout_padding">  
  <div class="container">
    <div class="heading_container">
      <div class="row">
        <div class="col-lg-12 text-center text-success text-capitalise">
                     
            {% for m in messages%}
            {{m}}
            {%endfor %}  
            
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>
            Login 
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="form_container contact-form ">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-lg-12">
                    
                    <div>
                        <input type="text" placeholder="Username"name="username" />
                    </div>
                    <div>
                        <input type="password" placeholder="Password"name="password" />
                    </div>
                    
                  </div>
                  
                </div>
                
              
                <div class="btn_box text-center">
                  <button>
                    SEND
                  </button>
                </div>
              </form>
        </div>
      </div>
     
    </div>
  </div>
</section>


{%endblock%}